

<div class="container mt-4 md-4">
  <div class="ml-auto board__linkbox">
    <h1>課題詳細</h1>
    <%= link_to "一覧", "/categories/#{@board.category_id}", class:"btn btn-primary" %>
    <%= link_to "編集", edit_board_path, class:"btn btn-primary" %>
    <%= link_to "削除", "/boards/#{@board.id}", method: :delete, \
                  data: {confirm: "削除しますか?"}, class: "btn btn-danger" %>
  </div>
</div>



<div class ="panel panel-primary container">
  <div class="panel-heading">
    <h4>課題：<%= simple_format(@board.title) %></h4>
  </div>

  <div class="panel">
    <p class="title"> 対策:  <%= @board.category.name %></p>
    <p class="title">対策:</p>
    <p class="card-text"><%= simple_format(@board.body) %></p>
    <p class="title">部品名:</p>
    <p class="card-text"><%= simple_format(@board.name) %></p>
    <p class="title">担当:</p>
    <p class="card-text"><%= simple_format(@board.responsible) %></p>
    <p class="title">期限:</p>
    <p class="card-text"><%= simple_format(@board.deadline) %></p>
  </div>

  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: <%=@board.progress %>%;">
      <%= @board.progress %>%
    </div>
  </div>




  <div class="container border border-primary">
    <%= image_tag @board.picture.url if @board.picture? %>
  </div>
</div>

<div class="panel">
  <% if @board.comments.any? %>
  <h3>Comments(<%= @board.comments.count %>)</h3>
  <ol class="comments">
    <%= render @comments %>
  </ol>
  <%= will_paginate @comments %>
<% end %>
</div>

<%#= link_to "Post a comment", comments_new_path, class:"btn btn-default" %>

<div class="container">
<%= form_with(model: @comment, local: true) do |f| %>
  <%#= render 'shared/errors_messages', object: f.object %>

  <div class="field">
    <%= f.text_field :name, placeholder: "Enter your name...", style: "width: 30%;" %>
  </div>

  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new comment..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
</div>
