<div class="d-flex align-items-center container">
  <h1>Category新規作成</h1>
  <div class="ml-auto boards__linkBox">
    <%= link_to "Category一覧",categories_path , class:"btn btn-primary" %>
  </div>


<%= form_for @category do |f| %>
  <div class="form-group" >
    <%= f.label :name, "Category名" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.submit "保存", class: "btn btn-primary" %>

<% end %>

</div>
