<div class="d-flex align-items-center">
  <h1>課題一覧 <%= @category.name %> </h1>
  <div class="ml-auto boards__linkBox">
    <%= link_to "課題新規作成", new_board_path, class:"btn btn-primary" %>
  </div>

  <div class="ml-auto boards__linkBox">
    <%= link_to "Category一覧", categories_path, class:"btn btn-primary" %>
  </div>


</div>


<%= will_paginate @boards %>

<%= render 'layouts/index' %>
