<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <%= link_to "issueProApp", root_path, id: "logo" %>

    <nav>
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Top", root_path %></li>
      <li><%= link_to "Help", '#' %></li>

      <% if logged_in? %>
        <li><%= link_to "Profile", current_user %></li>
      <% else %>
        <li><%= link_to "Log in", login_path %></li>
      <% end %>

      </ul>
    </nav>

  </div>

</header>
