<!DOCTYPE html>
<html>
  <head>
    <title>IssueProApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/css/theme.default.min.css">

    <script>
     $(document).ready(function() {
     $('#fav-table').tablesorter();
     });
  </script>


  </head>

  <body>
      <%= render 'layouts/header' %>
      <div class="conatainer">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
  </body>
</html>
